* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 49%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 413px;
  height: 268px;
  object-fit: cover;
}

i{
    color: white;
    position: absolute;
    font-size: 54px;
    top: 109px;
    right: 158px;
}

h4{
    font-weight: bold;
    font-size: 12.3514px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.7;
    position: absolute;
    top: 180px;
    left: 17px;
}

p{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18.695px;
    line-height: 17px;
    letter-spacing: 0.04em;
    width: 309px;
    position: absolute;
    top: 200px;
    left: 17px;
}

.color{
    width: 413px;
    height: 268px;
    position: absolute;
    background: #101010;
    opacity: 0.3;
}

#item-1:checked ~ .cards #video-3,
#item-2:checked ~ .cards #video-1,
#item-3:checked ~ .cards #video-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.8;
  z-index: 0;
  bottom: -25px;
  margin-left: 8px;
}

#item-1:checked ~ .cards #video-2,
#item-2:checked ~ .cards #video-3,
#item-3:checked ~ .cards #video-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.8;
  z-index: 0;
  bottom: -25px;
  margin-right: -8px;
}

#item-1:checked ~ .cards #video-1,
#item-2:checked ~ .cards #video-2,
#item-3:checked ~ .cards #video-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #video-1 img,
#item-2:checked ~ .cards #video-2 img,
#item-3:checked ~ .cards #video-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}